@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.foooter{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* justify-content: center; */
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
}

.footer{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    height: 350px;
}

.talkHeading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.talkHeading h2{
    color: #ebb400;
    font-size: 30px;
    font-weight: 300;
}

.talkHeading button{
    margin: 10px 0px;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ad8500;
    color: white;
    font-size: 16px;
}

.link{
    color: white;
}

.talkHeading p{
    color: #ebb400;
    margin-top: 15px;
    max-width: 600px;
    text-align: justify;
}

.links h2{
    font-size: 30px;
    font-weight: 300;
    color: #ebb400;
    margin: 10px 0px;
}

.links ul li{
    list-style: none;
    margin: 6px 0px;
}

.links ul li a{
    color: #ebb400;
    list-style-type: none;
    text-decoration: none;
}

.social{
    display: flex;
    flex-direction: column;
}

.social h2{
    font-size: 30px;
    font-weight: 300;
    color: #ebb400;
}

.social img{
    margin: 6px 0px;
    /* padding: 6px 0px ; */
    height: 32px;
    width: 32px;
}

.copyright{
    margin: auto;
}

.copyright h2{
    color: #ebb400;
    font-size: 30px;
    font-weight: 200;
    margin: 10px 0px;
    padding: 10px 0px;

}

@media(max-width: 1050px) {
    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .links h2{
        margin-top: 20px;
    }
    .links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    .footer{
        flex-direction: column;
        height: 450px;
    }
    .social{
        flex-direction: row;
        gap: 10px;
    }
}

@media (max-width:650px) {
    .talkHeading button{
        width: fit-content;
        padding: 6px 12px;
    }
    .talkHeading p{
        max-width: 500px;
    }
}

@media(max-width: 560px) {
    .talkHeading p{
        max-width: 400px;
    }
}

@media (max-width: 410px) {
    .footer{
        height: 490px;
    }
    .talkHeading h2{
        text-align: center;
    }
    .talkHeading p{
        max-width: 340px;
    }
}